@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  min-height: 100vh;
}

.container {
  display: flex;
}

/* LEFT */
.weather-input {
  width: 25%;
  position: fixed;
  inset: 0;
  background: linear-gradient(to bottom,rgba(42, 123, 155, 1) 0%, rgba(92, 189, 133, 1) 50%, rgba(83, 237, 186, 1) 100%);
  padding: 1.5rem;
  box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}

.input-group {
  position: relative;
  margin: 2rem 0;
}

.input-group input {
  width: 100%;
  padding: 1rem;
  border-radius: 6px;
  border: none;
  outline: none;
}

.converter {
  position: absolute;
  right: 45px;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  background: transparent;
}

.fa-search {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

/* AUTOCOMPLETE */
.suggestions {
  position: absolute;
  top: 105%;
  width: 100%;
  background: white;
  list-style: none;
  border-radius: 6px;
  max-height: 200px;
  overflow-y: auto;
  z-index: 1000;
  box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}

.suggestions li {
  padding: 10px;
  cursor: pointer;
}

.suggestions li:hover {
  background: #f1f1f1;
}

.weatherIcon {
  height: 140px;
  background-repeat: no-repeat !important;
  background-size: contain !important;
  background-position: center !important;
}

.temperature {
  font-size: 4.5rem;
  text-align: center;
  font-weight: 300;
}

.temperature span {
  font-size: 2rem;
}

.feelsLike {
  text-align: center;
  font-size: 1.2rem;
  margin-top: -10px;
  font-weight: 500;
}

.description {
  text-align: center;
  font-size: 1.1rem;
  margin-top: 5px;
  font-weight: 500;
  padding-bottom: 10px;
}

.date{
  text-align: center;
  font-size: 1rem;
  font-weight: 500;
}

.city {
  text-align: center;
  font-size: 20px;
  font-weight: 900;
  margin-top: 10px;

}

.weather-output {
  width: 75%;
  margin-left: 25%;
  padding: 2rem;
  background: #ffffff;
}

.Highlights,
.Forecast {
  display: grid;
  gap: 1rem;
}

.Highlights {
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.Forecast {
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
}

.Highlights div,
.Forecast div {
  background: linear-gradient(to bottom, rgb(76, 206, 232),rgb(30, 103, 125)
  );
  padding: 1rem;
  border-radius: 20px;
  height: 200px;
  display: grid;
  place-items: center;
  text-align: center;
  color: whitesmoke;
  font-weight: 500;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.Highlights .humidity{
  background: linear-gradient(0deg,rgb(227, 138, 82) 0%, rgb(214, 79, 66) 99%)
}

.Highlights .windspeed{
  background: linear-gradient(0deg, rgb(67, 255, 252) 0%, rgb(101, 158, 172) 99%);
}

.Highlights .clouds{
  background: linear-gradient(0deg, rgb(200, 200, 200) 0%, rgb(100, 100, 100) 99%);
}

.Highlights .uv{
  background: linear-gradient(0deg, rgb(252, 223, 82) 0%, rgb(212, 158, 66) 99%);
}
.Highlights .pressure{
  background: linear-gradient(0deg, rgb(114, 64, 13) 0%, rgb(227, 168, 110) 99%);
}

.Highlights .sun{
  background: linear-gradient(0deg, rgb(243, 145, 7) 0%, rgb(240, 212, 98) 99%);
}

.forecast-desc {
  font-size: 0.8rem;
  font-style: italic;
}

/* MOBILE */
@media (max-width: 900px) {
  .container {
    flex-direction: column;
  }
  .weather-input{
    position: relative;
    width: 100%;
    margin: 0;
    background: linear-gradient(90deg, rgba(42, 123, 155, 1) 0%, rgba(92, 189, 133, 1) 50%, rgba(83, 237, 186, 1) 100%);
  }
  .weather-output {
    position: relative;
    width: 100%;
    margin: 0;
  }
}
